.flex-center, .grid-4 .grid__item, body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body {
    background: #d3bcdc;
    margin: 0;
    min-height: 100vh;
  }
  
  main {
    flex-direction: column;
    width: 960px;
    margin: 0 auto 32px;
  }
  
  #feedback {
    background: #f3f0f7;
    border-radius: 8px;
    margin: 32px auto;
    width: 400px;
    padding: 16px 16px 32px;
  }
  
  /*TEXT*/
  h1,
  h2,
  p {
    text-align: center;
  }
  
  h1 {
    color: #20385a;
    font-size: 40px;
    margin: 0 0 16px;
  }
  
  h1,
  h2 {
    font-family: "Goudy Bookletter 1911", serif;
  }
  
  p {
    font-family: "Playfair Display", serif;
  }
  
  .subtitle {
    color: #6c6c7d;
    font-size: 18px;
  }
  
  span.highlight {
    border-bottom: 2px dotted #d2924d;
  }
  
  #feedback__title,
  #feedback__desc {
    color: #181c2e;
  }
  
  /*GRID*/
  .grid {
    margin: 48px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-4 .grid__item {
    width: 25%;
  }
  
  .grid__item__img {
    border-radius: 28px;
    width: 168px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 24px 8px -11px rgba(108, 108, 125, 0.4);
  }
  .grid__item__img:hover {
    transform: scale(1.1);
    box-shadow: 0 26px 8px -20px rgba(108, 108, 125, 0.4);
  }
  
  .grid__item__img-selected {
    border: 8px solid #99322d;
    background: #99322d;
  }
  
  .grid__item__img-correct-finish {
    border: 8px solid #0e860e;
    background: #0e860e;
  }
  
  @media screen and (max-width: 960px) {
    .grid__item__img {
      width: 144px;
    }
  }
  @media screen and (max-width: 695px) {
    main {
      width: 100%;
    }
  
    .grid-4 .grid__item {
      width: 50%;
    }
  
    .grid__item__img {
      width: 144px;
      margin: 0 0 32px !important;
    }
  }